@import 'variables.scss';

.main-container {
    width: 100%;
    height: 100%;

    .content-area {
        padding-top: $top-menu-height;
        margin-left: $sidebar-width;

        .top-menu {
            position: fixed;
            top: 0;
            left: $sidebar-width;
            width: 100%;
            height: $top-menu-height;
            background-color: $primary-color-bg-dark;
            z-index: 100;
            box-shadow: 0 1px 10px 2px rgba(0,0,0,.1);
            
            
        }
    }
}
