//Основные цвета
$primary-color-bg: #FFFFFF;
$primary-color-bg-dark: #353942;
$primary-color-active: #29C7CA;
$primary-color-active--hover:#25B5B8;
$primary-color-attaention: #E7604A;
$primary-color-attaention--hover: #D45844;

//Сайдбар
$sidebar-width: 200px;

//Верхнее меню
$top-menu-height: 60px;